.new-note-container {
  max-width: 350px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  transform: translateX(-50%) translateY(40px);
  border-radius: 3px;
  z-index: 99;
}

.note-number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-145%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0.7;
}

.note-number:hover {
  opacity: 1;
  cursor: pointer;
}

.select-box {
  border-radius: 3px;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-size: 18px;
  color: black;
  padding: 0 10px;
}

.note-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  resize: none;
  font-size: 18px;
}

.save-button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin-top: 3px;
  cursor: pointer;
  background-color: rgba(255, 232, 21, 0.916);
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.save-button:disabled {
  background-color: rgba(255, 232, 21, 0.481);
  cursor: auto;
}
