.note {
  position: absolute;
  margin-top: 40px;
  width: 300px;
  margin-left: -150px;
  padding: 10px;
}

.note-number-note {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-145%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0.6;
  color: white;
}

.note-number-note:hover {
  opacity: 1;
}

.note-text {
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  word-wrap: break-word;
  color: white;
  display: flex;
  flex-direction: column;
}

.delete-button {
  width: 20px;
  align-self: flex-end;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

.delete-button img {
  width: 15px;
}

.icon-holder {
  align-self: flex-end;
}

.edit-note-area {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  resize: none;
  font-size: 18px;
}
